
 body{
    background-color: #000;
 }

img{

    max-width: 210px;
    max-height: 210px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;   
}



.map{
position: absolute;
left: 0px;
top: 40px;
z-index: 0;
} 

.top_block_css{
position: absolute;
top: 0px; left: 0px;
width: 100%; height: 40px;
background-color: #fff;
z-index: 12;
box-shadow: 0 0.4em 5px rgba(122,122,122,0.5);
}

 .exit {
float: right;
display: inline-block;
margin-right: 5px;
margin-top: 5px;
width: 70px;
height: 30px;
z-index: 2;

 border-style: solid;
border-width:3px;
border-color: #759b3a; 
background-color: #759b3a;
color:#fff; 
}

.edit_form_ui{
list-style-image: none;
list-style-type: none;
margin: 0px;
margin-top: 20px;
margin-left: -20px;
}


.btn_create_mark {
float: left;
display: inline-block;
margin-left: 5px;
margin-top: 5px;
height: 30px;
width: 110px;
z-index: 2;

 border-style: solid;
border-width:3px;
border-color: #759b3a; 
background-color: #759b3a;
color:#fff; 
}

.black_hole{
position: absolute;
left: 0px;
top: 0px;
height: 100%;
width: 100%;
background-color: #000;
z-index: 8;
opacity: 0.5;	
visibility: hidden;
}


#form_container{   
    position: absolute;
    top: 40px;
    left: 0px;
    background:#fff;
    border:1px solid #ccc;
    margin:0 auto;
    text-align:left;
    width:400px;
    z-index: 3;
    box-shadow: 0 0 7px rgba(122,122,122,0.5);
    visibility: hidden;
     overflow-y: hidden;
   
}
#form_container:hover{   
    overflow-y: scroll;
}



.clear_form {
position: absolute;
top: 40px; left: 0px;
background-color: #fff;
width: 400px; height: 500px;
border: solid;
visibility: hidden;
z-index: 2;
box-shadow: 0 0 7px rgba(122,122,122,0.5);
}
.clear_form_lable{
 
font-weight: bold;

}

.edit_rule{
float: left;
display: inline-block;
margin-left: 5px;
margin-top: 5px;
height: 30px;
width: 150px;
z-index: 2;
visibility: visible;

 border-style: solid;
border-width:3px;
border-color: #759b3a; 
background-color: #759b3a;
color:#fff;  
}


.btn_help{
float: left;
display: inline-block;
margin-left: 5px;
margin-top: 5px;
height: 30px;
width: 100px;
z-index: 2;

 border-style: solid;
border-width:3px;
border-color: #759b3a; 
background-color: #759b3a;
color:#fff;  
}


 

.srq{
position: absolute;
background-color: #fff;
top: 40px; left: 800px;
width: 600px; height: 500px;
margin: 40px;
z-index: 2;
border: solid;
visibility: hidden;
}


.list_mark{
position: absolute;
background-color: #fff;
top: 40px; 
left: 0px;
width: 400px; 
height: 500px;
z-index: 2;
 
visibility: hidden;
}

.list_mark:hover{   
    overflow-y: scroll;
}


.block_mark_list{
    float: left;
    background-color: #fff;
    width: 350px; 
    border-style: solid;
    border-color: #ddd;
    z-index: 2;
    padding: 10px;
    margin: 5px;
    
}


.virtual_img{
position: absolute;
left: 110px;
top: 110px;
z-index: 1;
visibility: hidden; 
margin-top: 0px;
margin-left: 0px;

} 

.logo_bal{
font-weight: bolder;
font-size: 13pt;
 margin-bottom: 10px; 
} 

.name_bal{
font-weight: bold;
 
} 

.detail_bal{
 text-align:justify;
 
} 

.btn_bal{
 border-style: solid;
 background-color: #fff;
 color:#759b3a;  
margin-top: 10px;
margin-bottom: 10px;

 height: 30px;
 width: 100px;
} 

.sub_label_bal{
font-weight: bold;
margin-top: 10px; 
} 

.sub_label_form{
font-weight: bold;
margin-top: 10px; 

} 

.text_area_form{
    margin-top: 5px;
width: 320px;
height: 100px;

}

.text_input_form{
margin-top: 5px;
width: 320px;

}

.cheak_box_form{
margin-top: 10px;

}

.select_form{
margin-top: 10px;
 
}

.form_status{
font-weight: bolder;


}


.btn_edit_form{
 border-style: solid;
border-width:3px;
border-color: #759b3a; 
background-color: #759b3a;
color:#fff; 


margin-top: 10px;
 

 height: 30px;
 width: 100px;
} 

 

.sub_change_box{
font-weight: normal;
margin-bottom: 10px; 
 
}

.text_input_form_contact{
margin-top: 5px;
width: 320px;
margin-bottom: 10px;

}
